  body {
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/premium-vector/purple-web-development-background_76964-167.jpg?w=2000');
  }

  #navbar {
    position: fixed;
    top: 15px;
    width: 100%;
    background-color: black;
    border-radius: 36px;
}

  #navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    overflow: auto;
  }

  #navbar h1 {
    float: left;
    list-style: none;
    margin: 12px 15px;
    padding: 10px;
  }

  #navbar a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

  #navbar a:hover {
    color: yellow;
  }

  .search{
    float: right;
    color: black;
    padding: 12px 75px;
}

  #navbar:hover {
    background-color: rgba(30, 29, 29, 0.726);
  }

  #navbar ul h1 a.active{
    color: rgb(0, 186, 0);
    border: 1.5px solid rgb(6, 101, 95);
    text-decoration: wavy;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

  #navbar input{
    border-radius: 15px;
    padding: 12px 51px;
    width: 279px;
    text-align: center;
}

  div img{
    top: 90px;
    left: 660px;
    width: 369px;
    height: auto;
    position: relative;
    color: darkred;
    animation: h1 15s 0s infinite normal backwards;
}

  @keyframes h1{
    25%{
        top: 480px;
        left: 1338px;
    }
    50%{
        top: 810px;
        left: 765px;
    }
    75%{
        top: 480px;
        left: 0px;
    }
    100%{
        top: 90px;
        left: 660px;
    }
  }